@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 2rem;
  background-image: linear-gradient(
    180deg,
    rgb(219, 156, 135),
    rgb(232, 193, 163, 0)
  );
  color: #333;
  padding: 1rem;
}

#thumbnail-container {
  gap: 2rem;
  position: fixed;
  height: 5rem;
  object-fit: cover;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  z-index: 1;
}
.ImageStyle {
  display: block;
  filter: grayscale();
  transition: 1s;
  border: 1px solid black;
}
#large-image-container {
  display: block;
  height: 80vh;
  margin: auto;
  width: 170vh;
  object-fit: cover;
  z-index: 0;
}

#thumbnail-container .ImageStyle:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
#goLeftBtn,
#goRightBtn {
  border: 1px solid rgb(230, 169, 169);
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  font-size: 30px;
  padding: 0.3rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
#goLeftBtn {
  left: 1rem;
}

#goRightBtn {
  right: 1rem;
}

.largeImageStyle {
  width: 100%;
  height: auto;
  object-fit: cover;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  #thumbnail-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 5rem;
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
  }
  .ImageStyle {
    display: block;
    left: 0;
    right: 0;
    filter: grayscale();
    transition: 1s;
    border: 1px solid black;
  }
  #large-image-container {
    display: block;
    height: 70vh;
    margin: 1rem;
    width: 90%;
    object-fit: contain;
    text-align: center;
  }
  .largeImageStyle {
    width: 90%;
    height: 100%;
    opacity: 1;
    object-fit: contain;
    text-align: center;
  }

  #thumbnail-container .ImageStyle:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }

  #goLeftBtn,
  #goRightBtn {
    font-size: 24px; /* Adjust button size on mobile */
    padding: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
  }

  #goLeftBtn {
    left: 1rem;
  }

  #goRightBtn {
    right: 1rem;
  }
}
/* you need to resize the images in the large container to cover the full screen */
/*! we need media queries! */
/* you can approach the design from a desktop or mobile point of view. If you start from mobile, you need to scale up to desktop. If you start as desktop, you need to scale down to mobile */
