@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 241, 245);
}
body {
  position: absolute;
  display: block;
}
#thumbnail-container {
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8rem;
  left: 2rem;
  right: 2rem;
  top: 1rem;
  z-index: 10rem;
}

#large-image-container {
  position: relative;
  width: 100vh;
  height: 100vh;
  margin: 2rem;
  left: 2rem;
  right: 2rem;
}
.ImageStyle {
  position: relative;
  padding: 1rem;
}
/* you need to resize the images in the large container to cover the full screen */
/*! we need media queries! */
/* you can approach the design from a desktop or mobile point of view. If you start from mobile, you need to scale up to desktop. If you start as desktop, you need to scale down to mobile */
