@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 241, 245);
}
body {
  position: relative;
  display: block;
}
#thumbnail-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 6rem;
  top: 1rem;
  border: 1px solid black;
  z-index: 2rem;
}

#large-image-container {
  display: block;
  width: 100vh;
  height: 100vh;
  margin: 2rem;
  left: 2rem;
  right: 2rem;
}
#thumbnail-container .ImageStyle {
  position: relative;
  display: block;
}
/* you need to resize the images in the large container to cover the full screen */
/*! we need media queries! */
/* you can approach the design from a desktop or mobile point of view. If you start from mobile, you need to scale up to desktop. If you start as desktop, you need to scale down to mobile */
